@font-face {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    src: local('Cursed Timer ULiL'), url('https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff') format('woff');
}

body {
    margin: 0;

    @font-face {
        font-family: ;
        src: url();
    }
}

.container {
    display: flex;
    justify-content: space-around;
    height: 385px;
    width: 575px;
    background-color: #1B244A;
    color: rgb(246, 227, 227);
}

.score {
    width: 117px;
    height: 120px;
    background-color: rgb(21, 16, 16);
    color: #F94F6D;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    padding: 0 20px;
    border-radius: 5px;
}

.location {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.btn {
    width: 45px;
    height: 45px;
    background-color: #1B244A;
    color: #9AABD8;
    border: 1px solid #9AABD8;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    border-radius: 5px;
    margin-top: 26px;
}

.flex-btn {
    display: flex;
    justify-content: space-between;
}